* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    color: rgb(255, 255, 255);
    background-color: #212529;  
    padding: 1px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(112, 112, 112);
  }

  /* Style the topnav links */
  .topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: right;
    width: 33%;
    padding: 15px;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }